# =========================
# PostgreSQL
# =========================

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=


# =========================
# MongoDB
# =========================

MONGO_USER=
MONGO_PASSWORD=
MONGO_PORT=


# =========================
# Redis
# =========================

REDIS_PORT=


# =========================
# Microservices
# =========================

API_GATEWAY_PORT=
CLIENTES_PORT=
VENTAS_PORT=
STOCK_PORT=
CAJA_PORT=
FACTURACION_PORT=
AUTH_PORT=
USERS_PORT=
LOGS_PORT=